html
  head
    title Chat homepage
    meta(name='description', content='Home page')
    include includes/head.pug
    link(rel="shortcut icon", href="./img/auth.ico", type="image/x-icon")
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/chat.css')
  body
    h1 Node server with passport auth
    h2 Socket.IO Chat Room
    .chat
      p#num-users
      .chat-box
        ul#messages
        //- No action or method on purpose
        form#chat-form(action='')
          input#message-input(autocomplete='off')
          button.btn.btn--primary Send
      a#logout(href='/logout') Logout

    //- JS
    //- Requiring JQuery library
    script(src='https://code.jquery.com/jquery-2.2.1.min.js', integrity='sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=', crossorigin='anonymous')
    //- Requiring socket.io library
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js')
    //- Requiring socket.io local client
    script(src='/js/client.js')