html
  head
    title FCC Advanced Node and Express
    meta(name='description', content='Home page')
    include includes/head.pug
    link(rel="shortcut icon", href="./img/auth.ico", type="image/x-icon")
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/style.css')
  body
    h1.border.center FCC Advanced Node and Express
    h2.center Socket.IO Chat Room
    .chat.center
      p#num-users
      .chat-box
        ul#messages
        form(action='')
          input#m(autocomplete='off')
          button Send
      a#logout(href='/logout') Logout  
    script(src='https://code.jquery.com/jquery-2.2.1.min.js', integrity='sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js')
    script(src='/client.js')