html
  head
    title FCC Advanced Node and Express
    meta(name='description', content='Home page')
    include includes/head.pug
    link(rel="shortcut icon", href="./img/noauth.ico", type="image/x-icon")
    link(rel='stylesheet', type="text/css", href='./css/style.css')
    //- link(rel='stylesheet', href='/style.css')
  body
    h1.border.center FCC Advanced Node and Express
    h2.center Socket.IO Chat Rooom
    .login.center
      a(href='/auth/github') Login with Github!
    include includes/footer.pug
    include includes/littleCat.pug
    script(src='https://code.jquery.com/jquery-2.2.1.min.js', integrity='sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=', crossorigin='anonymous')
    script(type='application/x-javascript' src="./js/index.js")