p Want to play Space Invad0rs instead?
p Space Invad0rs destroyed this page! Take revenge on them!
  br 
  p Use <span class="label label-danger">Space</span> to shoot and <span class="label label-danger">←</span>&#160;<span class="label label-danger">→</span> to move!&#160;&#160;&#160;<button class="btn btn-default btn-xs" id="restart">Restart</button></p>

canvas#space-invaders